*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}

section{
    color: rgb(255, 255, 255);
}

.logo-border img {
    width: 9rem;
    height: 5rem;
    object-fit: cover;
    display: block;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.888);
    color: white;
    position: relative;
}

nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
}


nav ul li {
    list-style: none;
    margin-right: 2rem;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding-bottom: 6px;
    cursor: pointer;
}


nav ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    transform: translateX(-50%);
    background: linear-gradient(171deg,
            rgb(224, 55, 55) 0%,
            rgb(159, 36, 36) 45%,
            rgb(159, 36, 36) 55%,
            rgb(224, 55, 55) 100%);
    transition: width 0.35s ease;
}

nav ul li a.active-link::after {
    width: 100%;
}


footer {
    width: 100%;
    min-height: 42vh;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    color:white
}

footer::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(171deg,
            rgb(224, 55, 55) 0%,
            rgb(159, 36, 36) 45%,
            rgb(159, 36, 36) 55%,
            rgb(224, 55, 55) 100%);
}

footer .overlay {
    position: relative;
    width: 100%;
    min-height: 42vh;
    height: auto;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.353);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer .comp img {
    width: 9rem;
    height: 5rem;
    object-fit: cover;
    display: block;
}

footer .comp {
    width: 30%;
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
}

.quicklink,
.category,
.socials,
.contact {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    row-gap: 1rem;
}

.comp h5 {
    background: linear-gradient(171deg,
            rgb(224, 55, 55) 0%,
            rgb(159, 36, 36) 45%,
            rgb(159, 36, 36) 55%,
            rgb(224, 55, 55) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: x-large;
}

.comp p {
    color: white;

}

.main {
    color: rgb(255, 255, 255);
    position: relative;
    justify-content: space-evenly;
    align-items: start;
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
}


.main ul li {
    list-style: none;
    color: white;
    width: 100%;
    gap: 0.5rem
}


.main ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    padding: 0;
    row-gap: 0.4rem;
    margin-top: 0.3rem;
}


.topImage{
    width:100;
    position:relative;
    height:40vh;
    background-image: url(../images/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.topImage .overlay{
    background-color: rgba(0, 0, 0, 0.234);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
    width: 100%;
}

.topImage .overlay h1{
    margin-left: 2rem;

}

.topImage .overlay h3{
    margin-top: 1.3rem;
    margin-left: 12rem;
}


main .contact{
    display: flex;
    position: relative;
    justify-content: center;
    width:100%;
    align-items: center;
    flex-direction: row;
    min-height: 40vh;
    padding:2rem;
    background-color: rgba(0, 0, 0, 0.888);
}

main .contact h1{
    color:black;
    font-size: 3rem;
}

main .contact p{
    color:black;
}

.contactDetails, form{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.formcon{
    width:80%;
    background-color: rgb(46, 46, 46);
    padding:2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    border: 1px solid rgb(133, 133, 133);
}

.row{
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    column-gap: 2rem;
}

.namefield, .fieldCon{
    
    display: flex;
    position: relative;
    flex-direction: column;
    width:80%;
    justify-content: space-between;
}

.fieldCon{
    width:100%;
}

input{
    height:2rem;
}
.error{
    color:red;
    font-size: 0.8rem;
}

input.invalid, textarea.invalid{
   border: 2px solid red;
}

input.valid, textarea.valid {
    border: 2px solid green;
}

.error{
    color: red !important;
}

.contact .contactDetails h1, .contact .contactDetails p{
    color: white;
}

.contact .contactDetails p{
    font-size: 1.5rem;
    font-weight: 200;
}

.contactinfo{
    display: flex;
    position: relative;
    align-items: center;
    column-gap: 1rem;
}

.contactinfo .svg-inline--fa{
    font-size: 2rem;
    width:2rem;
    height:2rem;
}

#subBtn{
    background-color: black;
    color:white;
    outline:none;
    border:2px solid white;
    width:7rem;
    height:2.5rem;
    border-radius: 1rem;
    cursor: pointer;
}


#subBtn:hover{
    background-color: rgb(33, 33, 33);
}

input, textarea{
    color: rgb(49, 49, 49);
}

textarea{
    height:4rem;
}


.events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    row-gap: 3rem;
    background-color: rgb(46, 46, 46);
}

.events h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

.eventCon{
    width:100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
}

.eventCard{
    width:20rem;
    background-color: rgb(255, 254, 253);
    height:25rem;
    display: flex;
    flex-direction: column;
    border-radius: 3rem;
    box-shadow: 0px 10px 11px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 10px 11px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 11px -1px rgba(0,0,0,0.75);
}

.eventCard img{
    border-radius: 3rem;
    box-shadow: 0px 10px 11px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 10px 11px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 11px -1px rgba(0,0,0,0.75);
}

.cardInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex:1;
    column-gap: 1rem;
    padding:0 1rem;
}

.cardInfo h5{
    color: rgb(109, 109, 109);
}

.cardInfo span{
    height:60%;
    width:2px;
    
}

.blueline{
     background-color: rgb(41, 95, 126);
}

.redline{
    background-color: rgb(173, 0, 0);
}


.greenline{
background-color: rgb(0, 75, 0);
}

.purpleline{
    background-color: purple;
}

.date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date h4, .date h3{
    font-size: 2rem;
}

.date h4{
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fulldDeatails{
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
    
}

.blue{
    color:rgb(41, 95, 126) ;
}

.red{
    color:rgb(173, 0, 0);
}

.green{
    color: rgb(0, 75, 0);
}

.purple{
    color: purple;
}